label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    color: #0ec3c9;
  }
}

label > :last-child {
  width: 60%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #000000;
  border: 2px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background 0.2s, border-color 0.2s;
}

input[type="checkbox"]:hover {
  border-color: #00b3ff;
  transform: scale(1.2);
}

input[type="checkbox"]:checked::before,
input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

input[type="checkbox"]:checked::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #000000;
  border: 2px solid #cccccc;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background 0.2s, border-color 0.2s;
  box-sizing: border-box;
}

input[type="radio"]:hover {
  border-color: #00b3ff;
  transform: scale(1.2);
}

input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 16px;
  margin: 4px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 16px;
  background: #000000;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 12px;
  border-radius: 4px;
  background: linear-gradient(45deg, #00b3ff, #00f2ff);
  cursor: pointer;
  margin-top: 1px;
  transition: all 0.2s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

input[type="range"]:active::-webkit-slider-thumb {
  background: linear-gradient(45deg, #0048ff, #00b3ff);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  transform: scale(1);
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
  border-color: rgba(255, 255, 255, 0.3);
  background: #222;
  box-shadow: none;
}

input[type="text"] {
  margin: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  margin: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  margin: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  margin: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  font-size: 12px;
  width: 100%;
  height: 24px;
  margin: 4px;
  padding: 2px;
  background: #0f0718;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    border-radius: 4px;
    color: #0ec3c9;
    background: #28234e;
  }
  &:active {
    background: #16002e;
    border: 1px solid #0ec3c9;
  }
  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    background: #0f0718;
  }
}

li {
  transition: color 0.3s ease-in-out;
}

li:hover {
  color: #0ec3c9;
  cursor: pointer;
}

p {
  padding: 0 6px;
  margin: -10px 0;
  font-size: 12px;
  flex-shrink: 0;
}

table {
  font-size: 12px;
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead, tfoot {
  background-color: rgb(43, 8, 94);
  position: sticky;
  top: 0;
}

th, td {
  border: 1px solid rgb(160, 160, 160);
  padding: 8px 10px;
  text-align: center;
}

tbody > tr {
  transition: background-color 0.3s ease-out;
}

tbody > tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.2);
}

tbody > tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0s ease-in;
}

.big-button {
  height: 32px;
  margin: 4px auto;
}

.text {
  margin: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App {
  background: radial-gradient(#000000, 50%, #162644);
  min-height: 100vh;
  display: flex;
  padding: 0 16px;
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.button-table {
  width: 64px;
  margin: 2px;
}

.table-div {
  overflow: auto;
  margin: 4px;
  max-width: calc(100vw - 320px);
  max-height: calc(100vh - 64px);
  border: 2px solid rgb(200, 200, 200);
}

.error {
  border: 1px solid #ff4444;
}

.error-message {
  color: #ff4444;
  font-size: 12px;
  display: block;
}
